In [41]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import datetime
%matplotlib inline
%config InlineBackend.figure_format ='retina'

plt.style.use('bmh')
sns.set()

In [3]:
df = pd.read_csv('/home/nice/Downloads/user_onboarding - Sheet1.csv')

In [4]:
df.head()

,signup_platform,user_created_at,metro,birth_date,first_search_time
0,android,2019-01-13 12:47:18,Madrid,1998-04-06,2019-07-10 10:16:32
1,ios,2019-01-18 17:42:35,Madrid,1989-01-14,NaN
2,android,2019-01-18 14:00:39,Madrid,1989-02-07,2019-01-18 14:47:50
3,web,2019-01-18 0:38:00,Madrid,1979-05-07,2019-01-18 0:44:09
4,android,2019-01-18 14:12:56,Madrid,1997-01-15,2019-01-18 14:14:14

In [9]:
df.dtypes

signup_platform      object
user_created_at      object
metro                object
birth_date           object
first_search_time    object
dtype: object

In [8]:
df.isna().sum()

signup_platform       0
user_created_at       0
metro                 0
birth_date            0
first_search_time    74
dtype: int64

## 1. Validate or reject the following statements:


● Madrid is the most common city in the DataSet


● Most iOS signed up users are from Barcelona

● Most used platform in all metros is iOS

### Madrid is the most common city in the DataSet is True

In [5]:
df.metro.value_counts()

Madrid       577
Barcelona    548
Valencia      76
Name: metro, dtype: int64

### Most iOS signed up users are from Barcelona is True

In [6]:
df[df.signup_platform == 'ios'].metro.value_counts()

Barcelona    204
Madrid       196
Valencia      23
Name: metro, dtype: int64

### Most used platform in all metros is iOS is False
<br>
The most used platform is Android

In [7]:
df.signup_platform.value_counts()

android    637
ios        423
web        141
Name: signup_platform, dtype: int64

2. One important metric in badi is the rate from signup to search. That means
that out of all users that signup how many achieve to make at least 1 search.


● What’s the value of this rate for the whole dataset?

● Which % of users did a search within the first 5 minutes after the
signup?

● There are two different projects in badi, one expects to make a 10%
improvement on an iOS device, the other expects a 20% improvement
for web. Which one shall we do?

In [15]:
df.shape[0]

1201

In [17]:
df.first_search_time.isna().sum()

74

In [19]:
df.first_search_time = pd.to_datetime(df.first_search_time)

In [21]:
df.user_created_at = pd.to_datetime(df.user_created_at)

In [86]:
def before_X_min(row, mins=5):
    seconds = mins * 60
    time_between_first_search = row.first_search_time - row.user_created_at
    print(row)
    print(time_between_first_search)
    if row.first_search_time is NaT:
        return false
    return time_between_first_search.total_seconds < seconds

In [105]:
df.iloc[1].first_search_time

NaT

In [84]:
df['before_5_min'] = df.apply(lambda row: before_X_min(row, 5), axis=1)

signup_platform                  android
user_created_at      2019-01-13 12:47:18
metro                             Madrid
birth_date                    1998-04-06
first_search_time    2019-07-10 10:16:32
Name: 0, dtype: object
177 days 21:29:14
signup_platform                  android
user_created_at      2019-01-13 12:47:18
metro                             Madrid
birth_date                    1998-04-06
first_search_time    2019-07-10 10:16:32
Name: 0, dtype: object
177 days 21:29:14

TypeError: ("'<' not supported between instances of 'builtin_function_or_method' and 'int'", 'occurred at index 0')